In [1]:
import pandas as pd
import gc
from sklearn import preprocessing
import time
import numpy as np
import pickle

In [2]:
total =  pickle.load(open('../../data/raw/round2_total_a.pkl','rb+'))
total = total.reset_index(drop=True)

In [3]:
def timestamp_datetime(value):
    format = '%Y-%m-%d %H:%M:%S'
    value = time.localtime(value)
    dt = time.strftime(format, value)
    return dt
total['context_timestamp'] = total['context_timestamp'].apply(timestamp_datetime)
total['context_timestamp'] = pd.to_datetime(total['context_timestamp'])
total["day"] = total["context_timestamp"].dt.day
total["hour"] = total["context_timestamp"].dt.hour

In [16]:
total.loc[(total["day"]==4) & (total["hour"]>=12)]["is_trade"].mean()

0.010323429633832744

In [17]:
lbl = preprocessing.LabelEncoder()

total["user_id_bk"] = lbl.fit_transform(total['user_id']) 
print("完成对user_id的编码")
total["shop_id_bk"] = lbl.fit_transform(total['shop_id']) 
print("完成对shop_id的编码")
total["item_id_bk"] = lbl.fit_transform(total['item_id'])
print("完成对item_id的编码")

完成对user_id的编码
完成对shop_id的编码
完成对item_id的编码

In [18]:
total["user_id_shop_id"] = total[["user_id_bk","shop_id_bk"]].apply(lambda x : x[0] + x[1], axis=1)
total["user_id_shop_id"] = lbl.fit_transform(total['user_id_shop_id']) 
print("完成user_id_shop_id编码")

完成user_id_shop_id编码

In [19]:
total["user_id_item_id"] = total[["user_id_bk","item_id_bk"]].apply(lambda x : x[0] + x[1], axis=1)
total["user_id_item_id"] = lbl.fit_transform(total['user_id_item_id']) 
print("完成user_id_item_id编码")

完成user_id_item_id编码

In [20]:
tmp = total.pop("item_id_bk")
tmp = total.pop("shop_id_bk")
tmp = total.pop("user_id_bk")

In [22]:
total.to_pickle('../../data/raw/total_high_level.pkl')

In [23]:
total.head()

,context_id,context_page_id,context_timestamp,instance_id,is_trade,item_brand_id,item_category_list,item_city_id,item_collected_level,item_id,...,shop_star_level,user_age_level,user_gender_id,user_id,user_occupation_id,user_star_level,day,hour,user_id_shop_id,user_id_item_id
0,1760030022520373336,4007,2018-09-06 21:58:20,7118167540371,0.0,144417789855323213,836752724084922533;8769426218101861255,4228028106931716766,12,7595487976415452415,...,5009,1002,0,5724977323419098997,2002,3006,6,21,1869874,1921925
1,3064474740486843601,4001,2018-09-06 17:16:10,43508800019098,0.0,1975299596879116255,836752724084922533;6670526099037031245,6219110439660858399,15,5340996313837249587,...,5015,1003,0,4870198026823248606,2005,3001,6,17,1584585,1621921
2,6739974686483095644,4004,2018-09-06 20:51:34,78067858668749,0.0,9167910794067700637,836752724084922533;6693726201323251689,196257267849351217,13,8363638779510498577,...,5015,1003,0,3068854050938259810,2002,3004,6,20,1017902,1058138
3,7705718657630944724,4001,2018-09-06 15:14:26,137525720365644,0.0,9542632357298456,836752724084922533;6670526099037031245,6219110439660858399,10,7121266959776152715,...,5014,1003,0,7832745435456978716,2005,3000,6,15,2570371,2608450
4,2577301567114667733,4001,2018-09-06 16:53:14,151193932520734,0.0,7923860398679336202,836752724084922533;3613783563199627217;6370392...,6219110439660858399,14,5738516817201102842,...,5013,1005,0,8477796802398805696,2005,3004,6,16,2780956,2807475